.DS_Store
*.swp
*.swo
data-unmodified/simplewiki-latest-category.sql
data-unmodified/simplewiki-latest-categorylinks.sql
data-unmodified/simplewiki-latest-page.sql
data-unmodified/simplewiki-latest-pagelinks.sql
data/*.sql
*.pem
__pycache__/
src-code/api/app/db_config.py
